body
{
	/*atributo: valor;*/
	border: 1px solid red;
	width: 1024px;

}

header{
	text-align: center;
}
header img{
	/*float saca la imagen de la caja para que se ponga donde uno quiera (hace que flote)*/
	float: right;
	width: 90px;
}
/* el encabezado tiene la ruta de li(dentro de quienes esta)*/
header nav ul li{
	/*fondo*/
	background: blue;
	/*letras*/
	color: white;
	/*redondea el borde de las cajas*/
	border-radius: 5px;
	/*dos tipos de margenes*/
	/*ambos tienen 4 atributos*/
	/*margin es el espacio que separa una caja a la otra(a los lados, sobre o abajo)*/
	/*margin: arriba derecha abajo izquierda*/
	margin: 0px 10px 0px 0px;
	/*padding son los bordes internos (los espacios internos)*/
	padding: 5px 8px 5px 8px;
	display: inline-block;
}